<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h3>Pessoa</h3>

        {% for pessoa in pessoas %}

            <p> {{pessoa.cpf}}, {{pessoa.email}}</p>

        {%endfor%}
            
    <!-- <h3>Denuncias</h3>
        {% for d in denuncias %}

            <p> User {{d.fk_pessoa.cpf}} - "{{d.descricao}}" </p>

        {%endfor%} -->
        
    <h3>Endereco</h3>

        {% for e in enderecos %}

            <p> {{e.cep}}, Rua: {{e.rua}}, Numero: {{e.num}}</p>

        {%endfor%}
        
    
    <h3>Sensor</h3>
        
        {% for s in sensores %}

            <p> id : {{s.fk_endereco}}</p>

        {%endfor%}
        
    <h3>Leitura</h3>

        {% for l in leituras %}

            <p> Consumo : {{l.consumo}}, {{l.data_leitura}}, sensor {{l.fk_sensor}}</p>

        {%endfor%}

        <h3>Alerta Sensor</h3>

        {% for a in alertas_sensores %}

            <p> {{a.fk_leitura.consumo}}, {{a.fk_leitura.data_leitura}}</p>

        {%endfor%}


</body>
</html>