<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caça Vazamentos</title>
</head>


<body>

    <header> 
        <h1>Caça Vazamentos</h1>
    </header>

    <main> 

        <h1>HELLO WORLD,XABLAU</h1>
        
        <a href="{{ url_for('teste') }}">yurilinduuu</a>

        <a href="{{ url_for('user',user_name=user_name ) }}">Usuário</a>
        
    </main>

    <footer> 
        <div>
            <h6>Caça Vazamentos 2022 todos os direitos reservados</h6> 
            <h6>Entre em contato: caçavazamentos@example.com</h6> 
        </div> 
    </footer>

</body>


</html>