<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header> 
        <div class="navbar">
            <img src="static/images/logo_1.png" alt="logo" class="logo" width="200" height="50"/>
            <nav> 
                <ul>
                    <li><a href="#"> Notificações </i> </a></li>
                    <li><a href="#"> Fulaninho de Sousa </a></li>
                </ul>
            </nav>           
        </div>
    </header>
    <main> 


        <div>
            <h1> Minhas Denúncias </h1>
        </div>
        <div class="report">
            <p>Você ainda não tem denúncias :( </p>  
        </div> 
    </main>
    </body>
</html>