<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.cdnfonts.com/css/league-spartan" rel="stylesheet">
    <link rel="icon" href="{{url_for('static',filename='/images/1.png')}}">
    <script src="https://kit.fontawesome.com/a675d69de3.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/login.css') }}"/>
    <title>Cadastrar</title>
</head>
<body>
    <div id="myButton"></div>
        <script type="text/javascript">
            $('#myButton').venomButton({
                size: '100px',                        
                
                chatMessage: 'Bom dia caçador! Não encontrou o que você procurava? Eu posso te ajudar.',
                showPopup: true,
                headerColor:'#231F20',
                buttonColor:'#231F20',
                avatar: '{{url_for("static",filename="/images/Chat_bot.png")}}',
                buttonImage: '{{url_for("static",filename="/images/Chat_bot.png")}}',
                position: "right",
                linkButton: false,
                showOnIE: false,
                zIndex: 10,
                nameClient: "Caçador Chefe",
                headerTitle: 'Caça Vazamentos',
            });
        </script>
        
    <div class="center">
        <h1><img src="{{url_for('static',filename='/images/logo_3.png')}}" alt="logo" class="logo" width="200" height="50"/></h1>
        <form method="post">
            <div class="txtfield"> 
                <label>Nome:</label>
                <input type="text" name="nome" required>
            </div>
            <div class="txtfield"> 
                <label>CPF:</label>
                <input type="text" name="cpf" maxlength="11" required>
            </div>
            <div class="txtfield"> 
                <label>E-mail:</label>
                <input type="text" name="email"required>
            </div>

            <div class="txtfield password1">
                <label>Senha:</label>
                <input type="password" name="senha" required>
            </div>       
            <div class="txtfield password2">
                <label>Confirmar senha:</label>
                <input type="password" name="confirmar_senha" required>
            </div>  
                <input type="submit" value="Cadastrar">

            <div class="signup"><a href="{{url_for('homepage')}}">Logar</a>
            </div> 
        </form>

    </div>
    

</body>
</html>