<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://fonts.cdnfonts.com/css/league-spartan" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a675d69de3.js" crossorigin="anonymous"></script>
    <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}"/>

    <title>Caça Vazamentos </title>
</head>

<body>
    
    <header> 
        <div class="navbar">
        <img src="{{url_for('static',filename='/images/logo_1.png')}}" alt="logo" class="logo" width="200" height="50"/>
            <nav> 
                <ul>
                    <li><a href="#"><i class="fa-solid fa-bell"></i> &nbsp Notificações</a></li>
                    <li id="user"><a href="#"><i class="fa-solid fa-user"></i> &nbsp {{user_name}} </a></li>
                </ul>
            </nav>           
        </div>
    </header>

    <main> 

        <div class="welcoming">
            <p>Olá! O que você <br> gostaria de fazer? </p>  
        </div> 

        <div class="service">
            <div class="box">
                <div class="card">
                    <i class="fa-solid fa-droplet-slash"></i>
                    <h5>Vazamentos</h5>
                    <div class="pra">
                        <p>Pensando em diminuir o desperdício de água e assim pouparmos nossos recursos, contamos com toda a nossa comunidade para identificar e tratar vazamentos. Notou algum por aí? Relata aqui pra gente e se torne um #CaçaVazamentos ;)</p>
                        <p style="text-align: center;">
                            <a class="button" href="{{ url_for('forms') }}">Relatar vazamento</a>
                        </p>
                        
                    </div>
                </div>
    
                <div class="card">
                    <i class="fa-solid fa-hand-holding-droplet"></i>
                    <h5>Falta de saneamento</h5>
                    <div class="pra">
                        <p>Sabemos que, infelizmente, muitos locais ainda não contam com uma rede de saneamento básico ou encontram problemas com redes precárias. Queremos resolver esse problema e levar melhorias para todos. Contamos com vocês, caçadores de vazamentos, para nos ajudar a identificar locais que precisam de nossa atenção.</p>
    
                        <p style="text-align: center;">
                            <a class="button" href="{{ url_for('forms1') }}">Relatar falta de saneamento</a>
                        </p>
                    </div>
                </div>

                <div class="card">
                    <i class="fa-solid fa-list-check"></i>
                    <h5>Denúncias já realizadas</h5>
                    <div class="pra">
                        <p>Já é um Caça Vazamentos e gostaria de estar por dentro dos problemas que já relatou? Por aqui te mantemos atualizado sobre seus relatos e sobre o impacto deles na nossa luta para preservar nossos recursos naturais.</p>
    
                        <p style="text-align: center;">
                            <a class="button" href="{{ url_for('report') }}">Checar minhas denúncias</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer"> 
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>Entre em contato </h4>
                    <ul>
                        <li>Email: cacavazamentos@example.com</li>
                        <li>Telegram: @cacavazamentos</li>
                    </ul>
                </div>   
                <div class="footer-col">
                    <h4>Dúvidas frequentes</h4>
                    <ul>
                        <li>Onde posso gastar meus créditos?</li>
                        <li>Como sei que minha denúncia foi computada?</li>
                    </ul>
                </div> 
            </div>
        </div>

    </footer>

</body>


</html>

<!--   COLOQUEM OS CURSORES INATIVOS AQUI -->